body {
    font-family: 'Syncopate', sans-serif;
    margin: 0;
    overflow: hidden;
    background: #fff;
}
/* studio.css (for Studio Page) */
#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#studio-video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    height: auto; 
    z-index: -1;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
}

.logo img {
    width: 35%;
    height: auto;
    margin-right: 25px;
}

/* Content styles for studio page page sections */
.studio-section {
    position: absolute;
    top: 840px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 400px;
    padding: 20px;
    color: white;
}

/* Heading styles for studio page page sections */
.studio-section h1 {
    display: flex;
    font-family: 'Montez', cursive;
    font-style: cursive;
    font-size: 72px;
    color: #FFFFFF;
}

/* Prompt text styles for studio page page sections */
.studio-section .prompt {
    display: flex;
    font-family: 'Syncopate', sans-serif;
    font-weight: normal; /* Change to 'bold' if needed */
    margin-bottom: 12px;
    color: #FFFFFF;
}

.studio-section button {
    display: flex;
    width: 60%;
    height: auto;
    background-color: #8082FF;
    color: #FF3673;
    padding: 40px 135px;
    border: none;
    cursor: pointer;
    border-radius: 35px;
    transition: color 0.3s, border 0.3s;
    border: 1px solid #FF3673; /* Normal border style */
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    display: inline-flex;
    font-family: 'Syncopate', sans-serif;
    white-space: nowrap;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.studio-section button:hover {
    background-color: #FF3673;
    color: #8082FF;
    border: 1px solid #8082FF; 
}

/* Input styles */
input {
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0077b6;
    border-radius: 18px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Syncopate', san-serif;
    src: url(https://fonts.gstatic.com/s/syncopate/v21/pe0pMIuPIYBCpEV5eFdKvtKqBP5vWVYgVw.woff2) format('woff2');
}
