
body {
    font-family: Quintessential, sans-serif;
    margin: 0;
    overflow: hidden;
    background: #000;
}

#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    height: auto; 
    z-index: -1;
}

/* CSS for the menu */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: Transparent;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
}

.logo img {
    width: 25%;
    height: auto;
    margin-right: 10px;
}

.menu-items {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu-items li a {
    text-decoration: none;
    color: white;
    font-weight: regular;
    font-size: 16px;
}

/* Style the links */
.menu-items li a:hover {
    text-decoration: underline;
}

/* Content for Landing Page */
.landing-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 400px;
    padding: 20px;
    color: white;
}

.landing-content h1 {
    color: #FFFFFF;
}

.landing-content .description {
    font-weight: regular;
    margin-bottom: 10px;
}

.landing-content button {
    background-color: #000000;
    color: white;
    padding: 10px 40px;
    border: none;
    cursor: pointer;
    border-radius: 18px;
}

.landing-content button:hover {
    background-color: #005073;
}

/* CSS for Page Sections */
.page-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 400px;
    padding: 20px;
    background-color: Transparent;
}

.page-section h1 {
    color: #FFFFFF;
}

.page-section .prompt {
    font-weight: regular;
    margin-bottom: 10px;
    color: #FFFFFF;
}

input {
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0077b6;
    border-radius: 18px;
}

