/* styles.css */

body {
    font-family: Georgia, sans-serif;
}

.page {
    max-width: 0 auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #A6F6F7;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-section {
    margin-bottom: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #0077b6; /* Blue color inspired by water */
}

.prompt {
    font-weight: REGULAR;
    margin-bottom: 10px;
}

input {
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0077b6;
    border-radius: 18px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #000000;
    color: white;
    padding: 10px 40px;
    border: none;
    cursor: pointer;
    border-radius: 18px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #005073; /* Slightly darker blue on hover */
}
