
body {
    font-family: Syncopate, sans-serif;
    margin: 0;
    overflow: hidden;
    background: #000;
    display: inline-flex;
}

#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    height: auto; 
    z-index: -1;
}

/* CSS for the menu */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: Transparent;

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
}

.logo img {
    width: 35%;
    height: auto;
    margin-right: 25px;
}

.menu-items {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu-items li a {
    text-decoration: none;
    color: #8082FF;
    font-weight: bold;
    font-size: 25px;
    margin-right: 25px;
}

/* Style the links */
.menu-items li a:hover {
    text-decoration: underline;
    color: #FF3673;
}

}
/* Content for Landing Page */
.landing-section {
    position: absolute;
    top: 840px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 400px;
    padding: 20px;
    color: white;
}

.landing-section .description {
    font-weight: regular;
    margin-bottom: 10px;
}

.landing-section button {
    width: 60%;
    height: auto;
    background-color: #8082FF;
    color: #FFFFFF;
    padding: 25px 120px;
    border: none;
    cursor: pointer;
    border-radius: 35px;
    transition: color 0.3s, border 0.3s;
    border: 1px solid #FF3673; /* Normal border style */
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    display: inline-flex;
    font-family: 'Original Surfer', sans-serif;
    white-space: nowrap;
    text-align: center;
}

.landing-section button:hover {
    background-color: #FF3673;
    color: #8082FF;
    border: 1px solid #8082FF; 
}

